:root {
	--mainPrimaryColor: #010101;
	--mainPrimaryHover: #161616;
	--mainSecondaryColor: #fdfd02;
}

.slider-height {
	min-height: 350px !important;
}

.navbar-brand {
	font-size: 200px;
	color: var(--mainSecondaryColor) !important;
}

.mu-about-icon-box {
	background-color: var(--mainPrimaryColor);
	border: none;
}
.fas,
.mu-featured-slider-content-h1,
.mu-heading-title-h2,
.icon-like,
.icon-emotsmile,
.icon-cup,
.icon-trophy,
.mu-counter-name,
.menu-links:hover,
.secondary-colour {
	color: var(--mainSecondaryColor) !important;
}

.services-fas {
	color: var(--mainPrimaryColor) !important;
}

.team-social-info-btn:hover {
	color: var(--mainPrimaryColor) !important;
}

.mu-social-media-a:hover {
	border-color: var(--mainPrimaryColor) !important;
	background-color: var(--mainSecondaryColor) !important;
	color: var(--mainPrimaryColor) !important;
}
.mu-send-msg-btn:hover,
.social-icon-btns:hover {
	color: var(--mainSecondaryColor);
	background-color: var(--mainPrimaryColor) !important;
	border-color: var(--mainPrimaryColor);
}
